<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Car Form</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<nav class="navbar navbar-light" style="background-color: Aquamarine;height: 80px; align-items: center; border-radius: 30px;padding: 16px;size: 20px">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" th:href="@{/home}">Hertz Car Rental</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/cars/new}">Add Car</a></li>
        <li><a th:href="@{/cars}">View Car</a></li>
        <li><a th:href="@{/getissuedcars/new}">Rent Car</a></li>
        <li><a th:href="@{/getissuedcars}">View Rented Car</a></li>
       <li><a th:href="@{/searchcar}">Search Car</a></li>
        <li><a th:href="@{/invalidate/session2}">Logout</a></li>
        <li><div class="side-box" style="position: absolute;left:140px;top:20px">
                            <i class="fas fa-search"></i>
                            <input type="text" placeholder="Search">
             
                    </div></li>
       </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div style="position: absolute;left: 50px;">
<h3>Add Car Form</h3>

  <form th:action="@{/cars}" th:object = "${car}" method='post' style="width: 300px">
  
  <div class="form-group">
    <label for="callno1">Callno</label>
    <input type="text" class="form-control" name="callno" th:field = "*{callno}" placeholder="Callno"/>
  </div>
  <div class="form-group">
    <label for="name1">Car Name</label>
    <input type="text" class="form-control" name="name" th:field = "*{car_name}" placeholder="Name"/>
  </div>
  <div class="form-group">
    <label for="author1">Company Name</label>
    <input type="text" class="form-control" name="company" th:field = "*{company_name}"  placeholder="Company"/>
  </div>
  <div class="form-group">
    <label for="publisher1">Model</label>
    <input type="text" class="form-control" name="model"  th:field = "*{model}" placeholder="Model"/>
  </div>
  <div class="form-group">
    <label for="quantity1">Quantity</label>
    <input type="number" class="form-control" name="quantity" th:field = "*{quantity}" placeholder="Quantity"/>
  </div>
  <button type="submit" class="btn btn-primary">Add Car</button>

</form>
</div>

<footer style="text-align:center;position:absolute;bottom:-80px;right:-2px;padding: 2px;background-color:Aquamarine ;color: black; width: 1240px;border-radius: 40px;">
  <p>Owner: Brian hertz<br>
  <a href="mailto:Brian@hertz.com">Brian@hertz.com</a></p>
  <div>
   <a href="#">About Us </a>|
   <a href="#">Term & Conditions </a>|
   <a href="#">Raise Query </a>|
   <a href="#">Careers</a>
  </div>
</footer>


</html>